// main
.about {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mobile {
    flex-direction: column;
    justify-content: center;
  }

  @include tablet {
    flex-direction: column;
    justify-content: center;
  }
}

// content divs
.about__content {
  width: 35%;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include mobile {
    width: 100%;
    height: 360px;
  }

  @include tablet {
    width: 100%;
    height: 360px;
  }
}

.about__content--cards {
  @include mobile {
    height: 600px;
  }

  @include tablet {
    height: 600px;
  }
}

.content-title {
  font-family: $primary-font;
  font-weight: $regular-font-weight;
  font-size: 44px;
  color: $black;
  text-align: left;
  padding-left: 20px;

  @include mobile {
    text-align: center;
  }

  @include tablet {
    text-align: center;
  }
}

.content-image {
  width: 280px;
  height: 380px;
  background: url('../images/about-section-images/about-section-image.png')
    center no-repeat;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

// content cards
.about__card {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.card__title {
  font-family: $primary-font;
  font-weight: $bold-font-weight;
  font-size: 24px;
  color: $violet;
}

.card__text {
  font-family: $primary-font;
  font-weight: $regular-font-weight;
  font-size: 16px;
  color: $black;
  margin-top: 20px;
}

.about__card--patients::after {
  content: '';
  width: 95%;
  height: 2px;
  background-color: $orange;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about__card--care::after {
  content: '';
  width: 95%;
  height: 0.5px;
  border: 0.5px solid $orange;
  position: absolute;
  left: 0;
  bottom: 0;
}
