.how-it-works {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $light_grey;
}

.how-it-works__title {
  margin-top: 60px;
  font-family: $primary-font;
  font-size: 44px;
  font-weight: $regular-font-weight;
  color: $black;
}

.how-it-works__cards {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 95%;
    flex-direction: column;
  }

  @include tablet {
    width: 95%;
    flex-direction: column;
  }
}

.how-it-works__card {
  width: 400px;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 90%;
    height: 400px;
  }

  @include tablet {
    width: 90%;
    height: 400px;
  }
}

.circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: $light_beige;
  position: relative;
}

.image-parrot {
  width: 230px;
  height: 230px;
  background: url('../images/how-it-works-section-images/parrot.png')
    center no-repeat;
  position: absolute;
  top: -20px;
  left: -20px;
}

.image-rabbit {
  width: 230px;
  height: 230px;
  background: url('../images/how-it-works-section-images/rabbit.png')
    center no-repeat;
  position: absolute;
  top: -20px;
  left: -20px;
}

.image-dog {
  width: 230px;
  height: 230px;
  background: url('../images/how-it-works-section-images/dog.png')
    center no-repeat;
  position: absolute;
  top: -20px;
  left: -20px;
}

.how-it-work-card-title {
  margin-top: 30px;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: $regular-font-weight;
  color: $violet;
  text-align: center;
}

.how-it-work-card-text {
  margin-top: 20px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: $regular-font-weight;
  color: $black;
  text-align: center;
}

.how-it-works-button {
  width: 165px;
  height: 50px;
  margin: 60px 0;
  border: 1px solid $violet;
  border-radius: 24px;
  background-color: $violet;
  font-family: $primary-font;
  font-weight: $bold-font-weight;
  font-size: 16px;
  color: $white;
  transition: $standart-transition;
}

.how-it-works-button:hover {
  background: none;
  color: $violet;
}
