$primary-font: 'Roboto', sans-serif;
$regular-font-weight: 400;
$bold-font-weight: 700;

$beige: #fef7e5;
$light_beige: #fff7c2;
$violet: #6f1eaa;
$orange: #f7a500;
$light_grey: #faf9f6;
$light_blue: #f6f3fa;
$blue: #dff5f6;
$black: #000;
$white: #fff;

$standart-transition: all ease-in-out 0.3s;
